@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --body-bg: rgb(13,17,23);
    --header-bg: rgb(22,27,34);
    --form-bg: rgb(13,17,23);
    --text-color: white;
    --button-bg: #238636;
    --read-text-color: #238636;
    --not-read-text-color: red;
    --link-color: rgb(64,119,189);
    --link-hover-color: rgb(64,119,189);
}

html {
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}

header {
    background-color: var(--header-bg);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    width: 100vw;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: var(--button-bg);
    font-weight: 600;
    font-size: 1rem;
    transition: 200ms;
    cursor: pointer;
    border-radius: 5px;
    scale: 0.9;
    color: var(--text-color);
}
  
button:hover {
    scale: 1;
    border-radius: 10px;
}

body {
    background-color: var(--body-bg);
    color: var(--text-color);
    min-height: 100vh;
}

#bookSelf {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 100px 5%;
}

.book-card {
    background-color: var(--header-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px 20px 5px 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 2.4px 2.4px 3.2px;
    min-height: 350px;
}

.read {
    color: var(--read-text-color);
}

.not-read {
    color: var(--not-read-text-color);
}

.book-title-wrapper, .book-desc, .read-status {
    margin-bottom: 10px;
}

.options {
    display: flex;
    justify-content: space-around;
}

.catImg {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

#form-wrapper {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.704);
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#form {
    background-color: var(--form-bg);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 10px;
}

.form-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: -40px;
    text-align: center;
}

#closeForm {
    width: 30%;
    height: auto;
    text-align: center;
    align-self: flex-end;
}

.error, .fine {
    margin: 30px 0 -10px 0;
}

.error {
    color: var(--not-read-text-color);
}

.fine {
    color: var(--read-text-color);
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
    border: none;
    padding: 5px;
    font-size: 1rem;
    border-radius: 5px;
}

form > button {
    margin-top: 50px;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer i {
    color: var(--text-color);
}

footer {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}

@media only screen and (max-width: 1500px) {
    #bookSelf {
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;
    }
}

@media only screen and (max-width: 1200px) {
    #bookSelf {
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }
}

@media only screen and (max-width: 1000px) {
    #bookSelf {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
}

@media only screen and (max-width: 600px) {
    #bookSelf {
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
        margin: 10%;
    }
}

@media only screen and (max-width: 500px) {
    #bookSelf {
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
        margin: 0;
    }
}